nav ul {
    display: block;
    list-style: none;
    overflow: hidden;
}

nav li {
    float: left;
    
}

nav li {
    padding: 20px 40px;
   
    
    display: block;
    

}
nav li a {
    color: white;
    display: block;
    overflow: hidden;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bolder;
font-family: serif;
}
html {
    scroll-behavior: smooth;
}

