

.agie {
   font-weight: 400; 
   font-size: 30px;
   padding-top: 10px;
   font-family: 'Verdana, Geneva, Tahoma, sans-serif';
   padding-bottom: 10px;
   color: white;
   text-shadow: 0 0 2px rgb(3, 3, 22),  0 0 3px rgb(22, 10, 158);
}

.logo {
   width: 40px;
   height: 40px;
   margin-bottom: 10px;
   clip-path: circle(50% at 50% 50%); 
   object-fit: cover ; padding-bottom: 0px;
   margin-top: 3px;
}

.navbar {
  background-color: rgb(10, 10, 87);
}


  .custom-link {
    
    color:white;
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Times New Roman';
    transition: transform 0.3s ease; 
    display: inline-block; 

}

.custom-link:hover {
  color: #00D4FF;
  transform: scale(1.3);
 


}

.nav-link:active{
  color: #00D4FF !important;
}

nav li {
    float: left;
    list-style: none;
    padding: 20px 19px;
    
}

.icon{
  padding: 10px 25px;
    transition: transform 0.3s ease; 
    display: inline-block; 

}


.services {
  background-color: rgb(233, 238, 240);
  height: 100%;
  width: 100%;
  
}



.category-btn {

    background-color: rgb(10, 10, 87);
    padding: 5px 10px;
    color: white;
    border-radius: 9px;
    list-style: none;
    text-decoration: none;
    transition: transform 0.3s ease; 
    display: inline-block; 
    border: none;
    width: 200px;
    text-align: center;

}

  .category-btn:hover {
  transform: scale(1.0);
  color: black;
  background-color:#00D4FF;

  }



.category-button {
  background: none;
  border: none;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  color: black;
}

.mobile-search-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out, padding 0.4s ease-out;
}

.mobile-search-wrapper.show {
  max-height: 100px; /* enough space for the form */
   padding-top: 10px;
} 

.mobile-search-wrapper.hide {
  max-height: 0;
  padding-top: 0;
} 



.dropdown-menu {
  background-color: white;
}

.dropdown-menu li {
  padding: 2px 4px;
}

.dropdown-menu li:hover {
 color: red;
}

.drop-button:hover {
  background-color: rgb(10, 10, 87);
  color: white;
  width: 100%;
}