/* src/components/WhatsAppButton.css */

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: white;
  font-size: 28px;
  border-radius: 20%;
  padding: 15px;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: transform 0.3s;
}

.whatsapp-float:hover {
  transform: scale(1.1);
  text-decoration: none;
}